<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <title>editLocation</title>
</head>
<body>

<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark" style="border-radius: 0.5rem;">
            <h1 ><a style="color: black" href="index.html">Superhero Manager</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="superhero.html"style="color: black;border-color: darkred">Superhero</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="location.html"style="color: black;border-color: darkred">Location</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="organization.html"style="color: black;border-color: darkred">Organization</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="superpower.html"style="color: black;border-color: darkred">Superpower</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="sighting.html"style="color: black;border-color: darkred">Sighting</a>
        </div>
    </div>

    <div class="row m-4 border border-dark"style="border-radius: 0.5rem;">
        <div class="col-3 text-center m-3">
            <span class="h3">Edit Location</span>
        </div>
        <div class="col-7 text-center m-3">
            <form method="POST">
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="name">
                        Location Name</label>
                    <div class="col-9">
                        <input class="form-control" id="name" name="name"
                               th:value="${location.name}" type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="description">
                        Description</label>
                    <div class="col-9">
                        <input class="form-control" id="description" name="description"
                               th:value="${location.description}" type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="address">
                        Address</label>
                    <div class="col-9">
                        <input class="form-control" id="address" name="address"
                               th:value="${location.address}" type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="latitude">
                        Latitude</label>
                    <div class="col-9">
                        <input class="form-control" id="latitude" name="latitude"
                               th:value="${location.latitude}" type="number">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="longitude">
                        Longitude</label>
                    <div class="col-9">
                        <input class="form-control" id="longitude" name="longitude"
                               th:value="${location.longitude}" type="number">
                    </div>
                </div>
                <input name="id" th:value="${location.id}" type="hidden"/>
                <button style="color: white ; background-color: darkred; border-style: none"class="btn btn-primary" type="submit">
                    Update Location
                </button>
            </form>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>