<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <title>sighting</title>
</head>

<body>

<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark"  style="border-radius: 0.5rem;">
            <h1 ><a href="index.html" style="color: black">Superhero Manager</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div  class="col text-center m-2">
            <a  class="btn btn-outline-primary btn-lg" href="superhero.html" style="color: black;border-color: darkred">Superhero</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="location.html" style="color: black;border-color: darkred">Location</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="organization.html" style="color: black;border-color: darkred">Organization</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="superpower.html" style="color: black;border-color: darkred">Superpower</a>
        </div>
        <div class="col text-center m-2">
            <a class="btn btn-outline-primary btn-lg" href="sighting.html" style="color: black;border-color: darkred">Sighting</a>
        </div>
    </div>
</div>


<div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
        <span class="h3">Add Sighting</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="addSighting" method="POST">

            <div class="form-group row">
                <label class="col-3 col-form-label" for="location_id">
                    Location Name</label>
                <div class="col-9">
                    <select class="form-control" id="location_id" name="location_id" >
                        <option value="0">select location</option>
                        <option th:each="location : ${locations}"
                                th:text="${location.name}"
                                th:value="${location.id}">
                            location Name
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="superhero_id">
                    Superhero Name</label>
                <div class="col-9">
                    <select class="form-control" id="superhero_id" name="superhero_id">
                        <option value="0">select superhero</option>
                        <option th:each="superhero : ${superheroes}"
                                th:text="${superhero.name}"
                                th:value="${superhero.id}">
                            superhero Name
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="date">
                    Date</label>
                <div class="col-9">
                    <input class="form-control" id="date"
                           name="date" type="text"/>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" style="color: white ; background-color: darkred; border-style: none">Add Sighting</button>
        </form>
    </div>
</div>


<div class="row m-4 border border-dark">
    <div class="col text-center m-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SuperheroName</th>
                <th>LocationName</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test : ${tests}" >
                <td th:text="${test.sName}">Superhero Name</td>
                <td th:text="${test.lName}">Location Name</td>
                <td th:text="${test.sDate}">Date</td>

                <td><a href="#" th:href="@{/editSighting.html(location_id= ${test.locationId}, superhero_id=${test.superheroId}, date=${test.sDate})}" style="color: darkred ">Edit</a></td>
                <td><a href="#" th:href="@{/deleteSighting(location_id=${test.locationId}, superhero_id=${test.superheroId}, date=${test.sDate})}" style="color: darkred ">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>